$alpha: #292929;
$alpha-white:#F6F6F6;
$complementary: #FCAC00;
$main-gradient:linear-gradient(232.8deg, #303030 0%, #1B1B1B 83.33%);
$complementary-gradient:linear-gradient(220.21deg, #353E28 0%, #202617 83.33%);
$typo:bredan;
$title:Oswald;
$subtitle:Montserrat;
$paragraph:Montserrat;
$wide:500;
$light:300;
$bold:600;
$bolder:800;